@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

[contenteditable][placeholder]:empty:before {
  content: attr(placeholder);
  position: absolute;
  background-color: transparent;
}
html {
  font-family: "Montserrat" !important;
}
.container {
  background-color: white;
  padding: 0px;
}
p {
  font-size: 16px;
  font-weight: 600;
}
p.custom-p {
  margin-bottom: 12px;
}
li {
  list-style: none;
}
.fa-circle {
  color: #0088b8;
}
.info-uto {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.info-uto p {
  margin-left: 10px;
  cursor: pointer;
}
.title-uto > div:first-child {
  text-align: center;
  padding-top: 20px;
}
.title-uto > div:first-child img{
  height: 120px;
}
.title-uto p {
  font-size: 16px;
}
.mar-uto {
  border: 2px solid #0088b8;
  border-radius: 15px;
  padding: 8px 4px;
  page-break-inside: avoid;
}
.mar-uto p:nth-child(1) {
  font-weight: bold;
  color: #0088b8;
}
.content-edit {
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  line-height: 25px;
  margin-left: 15px;
  outline: none;
  border: 1px solid transparent;
  border-radius: 8px;
  padding-left: 8px;
}
.content-edit:hover,
.content-edit:focus {
  border-color: #0088b8;
}
.button-uto {
  text-align: center;
  border: 2px solid #0088b8;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  width: 50%;
  margin: 4px auto;
  color: white;
  background-color: #0088b8;
  page-break-inside: avoid;
}
.button-uto p {
  margin-bottom: 0px;
}
.contact {
  font-size: 16px;
  font-weight: 700;
}
.contact-content {
  display: flex;
  justify-content: space-around;
}
.contact-content .item {
  display: flex;
  text-align: center;
  align-items: center;
}
.contact-content .item img {
  width: 36px;
}
.contact-content .item > div {
  padding-left: 4px;
  border: none;
  margin-left: 0;
}
.thankyou {
  color: #0088b8;
  text-align: center;
  font-weight: 700;
}
.fa-circle {
  position: relative;
  transition: all 0.2s ease-in;
}
.fa-circle:hover {
  color: red;
  cursor: pointer;
}
.fa-circle:hover::after {
  content: "x";
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 8px;
  transform: translate(-50%, -50%);
}
.print-btn {
  border-top-style: double;
  border-bottom-style: double;
  border-color: #0088b8;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 32px;
  margin-bottom: 8px;
}
.print-btn button {
  padding: 0 20px;
  border-radius: 8px;
  outline: none;
  background-color: #0088b8;
  color: #fff;
  border: none;
}
.btn.custom-btn {
  padding: 0 10px;
}
@media only print {
  .hidden-print {
    display: none !important;
  }
  .button-uto {
    -webkit-print-color-adjust: exact;
    background-color: #0088b8 !important;
    color: #fff !important;
  }
  .title-uto > div:first-child {
    padding-top: 10px;
  }
  .title-uto > div:first-child img {
    height: 80px;
  }
}